footer(class="p-8 w-full bg-gray-800 text-gray-200")
  section(class="w-full border-b border-gray-800 flex mx-auto justify-between align-middle")
    div(class="w-full p-4 md:w-2/4")
      h2(class="font-bold uppercase text-gray-700") Mr. Pug Ecopark
      span &copy; 2021 Mr. Pug Tours Todos los derechos reservados.
    div(class="rs-bottom md:w-2/4 p-4")
      ul(class="flex justify-around") 
        li(class="inline-block text-sm")
          form(action="")
            select(name="idioma" id="idioma" class="p-1")
              option(value="") Español 
              option(value="") Portugues 
              option(value="") Ingles    
        li(class="inline-block") 
          a F
        li(class="inline-block")
          a I
        li(class="inline-block") 
          a Y
        li(class="inline-block") 
          a W
  nav(class="nav-bottom w-full p-4 mx-auto")
    ul(class="flex justify-between") 
      li
        a(href="") Home
      li
        a(href="about.html") About
      li
        a(href="") Blog
      li
        a(href="") Mapa de sitio
      li
        a(href="") Términos y condiciones
      li
        a(href="") Politica de privacidad
      li
        a(href="") Bolsa de trabajo
      li
        a(href="") Guía de precios
      li
        a(href="") Faq
      li
        a(href="") Contacto