header(class="w-full flex p-4 bg-third align-middle") 
  div(class="logo mr-2 text-gray-600 font-bold text-2xl w-2/12") Lu'um Balam
  nav(class="8/12") 
    ul(class="flex gap-2")
      li(class="btn_1")
        a(href="/") Home
      li(class="btn_1")
        a(href="about.html") Quienes Somos
      li(class="btn_1")
        a(href="servicios.html") Servicios
      li(class="btn_1")
        a(href="galeria.html") Galería
      li(class="btn_1")
        a(href="contacto.html") Contacto