@charset "utf-8";
body{background-color:#f30;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;background:url("../imagenes/cacique.jpg") no-repeat center center fixed;background-size:cover;margin:0 auto;width:1000px}
#contener{margin:0 auto;width:100%;background:rgba(255,125,0,0.9);border-radius:.5em}
#social-holder{overflow:hidden;width:100%;}
#social-holder .social{display:block;overflow:hidden}
#social-holder .social li{display:block;height:32px;float:left}
#social-holder .social a{display:block;width:32px;height:32px;color:#c00;font-size:30px}
#welcome3{margin:0 auto}
#welcome3 p{font-size:16px;border:1px solid #c00;padding:10px}
#welcome3 h1{color:#c00;font-size:26px;text-align:center}
#social-holder span a:link{color:#e00;font-size:26px}
#social-hover span a:hover{color:#f00}
#social-hover span a:visited{color:#b00}
.social .li-izq{color:#fff;font-size:18px}
h1{margin:0 auto;padding:15px;color:#ffdd7b;font-size:22px;background-color:#c60;display:block;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:600}
h2{margin:0 auto;padding:20px 35px;color:#9c0;font-size:20px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:400}
h3{margin:0 auto;padding:5px;color:#f60;font-size:18px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:400}
.fixclear{clear:left}
.linea{height:1px;color:#9f0;border-top:1px solid #72b733}
.linea2{height:1px;color:#6cf}
.linea-vertical{border-right:2px solid #fc3;padding:0 5px;text-shadow:#960 1px}
header{width:100%;margin:0 auto;background-color:#a0cf34;background-image:url("img/fnd.jpg");background-repeat:repeat-y;padding:5px 0}
.logos{margin:0 auto;width:800px}
.nav-top{margin-left:20px;width:700px;float:left}
.nav-top li{list-style:none;float:left}
.nav-top li a:link{display:block;text-decoration:none;border:1px solid color #fff;margin:0 5px}
dl{margin:0 auto;width:800px}
dt{color:#f33;margin:5px auto}
#buscador{text-align:center;width:240px;float:left;margin:0 auto}
#buscador .buscador-input{width:170px;float:left;margin:0;height:28px;font-size:14px;border-radius:.5em 0 0 .5em;padding:0;border:1px solid #ccc;border-right:0}
#multimedia{background-color:#b4ab12;padding-top:5px;padding-right:5px;width:70%;display:inline-block;margin:0 auto;box-sizing:border-box;height:280px;box-shadow:0 2px 5px rgba(0,0,0,0.2)}
.form1{background-color:#ace3d9;padding:5px;width:27%;display:inline-block;box-sizing:border-box;margin:0 auto;box-shadow:0 2px 5px rgba(0,0,0,0.2);border-radius:5px;text-align:center;}
.form1 .-fecha{text-align:center;width:180px;margin:0 auto;font-size:14px;height:21px;border-radius:.3em;background-color:#c2feec;border:1px solid #0e9}
.form1 img{margin:0;padding:0;width:100%}
.form1 .form-fecha{height:28px}
.form1 .form-hora,.form1 .form-visitantes,.form1 .form-fecha{border:1px solid #3bb;margin:3px auto;width:250px;text-align:center;font-size:14px;border-radius:.3em;background-color:#0cc}
.form1 div .-hora{height:20px;width:80px;background-color:#c2feec;border:1px solid #0e9}
.form1 div .-adultos,.form1 .-ninos{height:20px;width:50px;background-color:#c2feec;border:1px solid #0e9}
.form1 .-pago{width:130px;background-color:#39f;height:35px;margin:10px auto;border-radius:.5em;border-color:#0ce;color:#fff}
.form1 .btn-calendar{background-image:url("img/calendario.png");width:24px height 24px}
aside{width:25%;margin:0 auto;padding:0;display:inline-block;vertical-align:top;text-align:center;}
aside img{width:198px;padding:5px;margin:0 auto;text-align:center;border-radius:0 0 .5em .5em;background-color:#fc0;border:1px solid #f90}
aside .boletin{width:200px;padding:5px;margin:0 auto;text-align:center;border-radius:0 0 .5em .5em;background-color:#fc0;border:1px solid #f90}
aside .boletin input{width:180px;margin:0}
#mainContener2{background-color:#fff;width:100%;margin:0 auto;opacity:.9}
article{margin:0 auto;text-align:center}
article p{margin:0 auto;text-align:center}
article p img{width:80%;margin:0 auto}
.boletin .boletin-enviar{width:80px}
#middle{width:100%;margin:0 auto;padding:0;}
#middle #mainContener{background-color:#fff;width:70%;margin:0 auto 10px auto;opacity:.9;display:inline-block;vertical-align:top;padding:5px;box-sizing:border-box;}
#middle #mainContener .actividades ul{text-decoration:none;margin:0 auto;text-align:center;width:100%;list-style:none;padding:0;}
#middle #mainContener .actividades ul li{display:inline-block;vertical-align:top;text-align:center;margin:5px 10px;transition:5s ease all;width:20%;}
#middle #mainContener .actividades ul li img:hover{padding:2px;box-sizing:border-box}
#middle img{border-radius:0 0 .5em .5em}
#middle ul li{list-style-type:disc;color:#c30}
p{width:90%;margin:0 auto;padding:10px 0;text-align:justify}
footer{width:100%;background-color:#fc0;background-repeat:repeat-y;padding:5px;text-align:center;margin:20px auto;border-radius:0 0 .5em .5em;box-sizing:border-box;}
footer #mainfooter{width:95%;margin:10px auto;border-radius:.5em;background-color:#e90}
footer p{text-align:center}
footer a:link{color:#ff0}
.fondobtn{display:inline-block;outline:none;cursor:pointer;text-align:center;text-decoration:none;font:14px/100% Arial,Helvetica,sans-serif;padding:.2em 1em;text-shadow:0 1px 1px rgba(0,0,0,0.3);border-radius:.5em;box-shadow:0 1px 2px rgba(0,0,0,0.2);color:#fef4e9;border:solid 1px #da7c0c;background:#f78d1d}
.clean-gray{background-color:#eee;background-image:linear-gradient(top,#eee,#ccc);border:1px solid #ccc;border-bottom:1px solid #bbb;border-radius:3px;color:#333;font:bold 11px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;line-height:1;padding:8px 0;text-align:center;text-shadow:0 1px 0 #eee;width:150px}
.clean-gray:hover{background-color:#ddd;background-image:linear-gradient(top,#ddd,#bbb);border:1px solid #bbb;border-bottom:1px solid #999;cursor:pointer;text-shadow:0 1px 0 #ddd}
.clean-gray:active{border:1px solid #aaa;border-bottom:1px solid #888;box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee}
.clean-gray2{background-color:#9c0;border:1px solid #ccc;border-bottom:1px solid #bbb;border-radius:3px;color:#333;font:bold 11px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;line-height:1;padding:8px 5px;text-align:center;text-shadow:0 1px 0 #eee;width:110px;text-decoration:none}
.clean-gray2:hover{background-color:#ddd;background-image:linear-gradient(top,#ddd,#bbb);border:1px solid #bbb;border-bottom:1px solid #999;cursor:pointer;text-shadow:0 1px 0 #ddd}
.clean-gray2:active{border:1px solid #aaa;border-bottom:1px solid #888;box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee}
.clean-gray3{background-color:#3cf;border:1px solid #ccc;border-left:0;border-radius:0 .5em .5em 0;color:#fff;font:12px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;padding:5px 0;width:60px;text-decoration:none;margin:0;float:left;height:30px}
.clean-gray3:hover{background-color:#ddd;background-image:linear-gradient(top,#ddd,#bbb);border:1px solid #bbb;border-bottom:1px solid #999;cursor:pointer;text-shadow:0 1px 0 #ddd}
.clean-gray3:active{border:1px solid #aaa;border-bottom:1px solid #888;box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee}
.btn-precios{background-color:#3cf;background-image:linear-gradient(top,#3c0,#9c0);border:1px solid #f90;border-radius:3px;color:#fff;padding:3px 5px;text-align:center;text-shadow:0 1px 0 #eee;width:198px;display:block;text-decoration:none;margin:10px auto}
.btn-precios:hover{background-color:#ddd;border:1px solid #bbb;border-bottom:1px solid #999;cursor:pointer;text-shadow:0 1px 0 #ddd}
.btn-precios:active{border:1px solid #aaa;border-bottom:1px solid #888;box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #eee}
.griz{display:inline-block;outline:none;cursor:pointer;text-align:center;text-decoration:none;font:16px/100% Arial,Helvetica,sans-serif;padding:.7em 1.8em;text-shadow:0 1px 1px rgba(0,0,0,0.3);border-radius:.2em;box-shadow:0 1px 2px rgba(0,0,0,0.2);color:#fef4e9;border:solid 1px #da7c0c;background:#f78d1d}
.griz:hover{text-decoration:none;background:#f47c20}
.griz_active{position:relative;top:1px;color:#fcd3a5}
.panes .blocks-thumbs{overflow:hidden;padding-top:30px}
.panes .blocks-thumbs li{display:block;overflow:hidden;float:left;width:262px;height:315px;margin:0 0 30px 23px;background:url("../img/shadow-1-3.png") no-repeat 0 150px}
#content .panes .blocks-thumbs li .header{font-size:20px;margin-bottom:20px;text-decoration:none;color:#696969}
.panes .blocks-thumbs li a.thumb{display:block;overflow:hidden;width:262px;height:150px;margin-bottom:20px;background:url("../img/plus-sign.png") no-repeat center center;border-radius:10px}
.panes .blocks-thumbs li a{display:block;text-decoration:none}
.one-column img{border-radius:.5em}
.one-column{width:450px;float:left;padding:10px}
#sc-contact-form input,#sc-contact-form textarea,.admin-form input,.admin-form textarea,#contactForm input,#contactForm textarea,#commentform input,#commentform textarea{padding:10px 15px;background:#fff;border:1px solid #ccc;border-radius:5px}
#sc-contact-form input,.admin-form input,#contactForm input,#commentform input{width:320px}
#sc-contact-form textarea,.admin-form textarea,#contactForm textarea,#commentform textarea{width:380px}
#sc-contact-form #submit,.admin-form #submit,#contactForm #submit,#commentform input#submit{width:76px;margin:21px 0;padding:5px 0}
#sc-contact-form #submit:hover,.admin-form #submit:hover,#contactForm #submit:hover,#commentform input #submit:hover{background:#f1f1f1;color:#606060}
#sc-contact-form input,#sc-contact-form textarea,.admin-form input,.admin-form textarea,#contactForm input,#contactForm textarea,#commentform input,#commentform textarea{color:#606060;font-size:14px}
#sc-contact-form label,.admin-form label,#contactForm label,#commentform label{display:block;font-size:14px;line-height:2.5em;font-weight:light}
#gallery{position:relative;width:686px;margin:40px auto;padding:10px}
#images{width:682px;margin:0 auto;height:460px;margin-bottom:20px}
#image{position:relative;height:450px;padding:5px;background:#fff url("images/loading.gif") center center no-repeat}
#image img{position:absolute;top:5px;left:5px;width:640px}
#thumbwrapper{margin-top:10px;padding:5px 0;width:682px;height:100px;background:#fff}
#thumbarea{position:relative;overflow:hidden;height:100px;width:682px}
#thumbs{position:absolute;list-style:none;margin-left:5px;height:100px;width:100px;border-right:5px solid #fff}
#thumbs li{float:left;margin-right:5px;cursor:pointer}
.imgnav{position:absolute;z-index:100;height:375px;width:20%;outline:none;cursor:pointer}
#previmg{left:0;background:url("images/left.gif") left center no-repeat;border-left:5px solid #fff}
#nextimg{right:0;background:url("images/right.gif") right center no-repeat;border-right:5px solid #fff}
table{width:90%;background-color:#cc6;margin:5px auto}
table td{background-color:#c93;padding:2px}
