doctype html
html(lang="es")
  include inc/head.pug
  body(class="w-full mx-auto" )
    div(class="mx-auto w-full")
      div(class="w-full bg-blue-900 mx-auto")
        div(class="container top-contacto w-full mx-auto flex p-4  align-middle right-0 justify-items-end text-right lg:max-w-[1200px] justify-end")
            p(class="text-gray-50") Atención a clientes: #[i(class="fab fa-whatsapp")] #[span 529999999 MXN |] #[i(class="fab fa-whatsapp")] #[span 558888888 USA] 
      include inc/header 

      div(class="bagde flex w-full justify-between mx-auto")
        div(class="hero h-[450px] bg-mrpug bg-top opacity-90")
          .flex-col.justify-center.hero-content(class="lg:flex-row")
            .text-center(class="lg:text-left")
              h1.mb-5.text-5xl.font-bold.text-blue-900
                
                Hello Adventurous
                
              p.mb-5.text-2xl.text-white Adentrate a un emocionante entorno rebitalizante, entre emocionantes actividades en el corazón de la Riviera Maya. 
                
            include inc/form_book
        
      main(class="w-full justify-between mx-auto bg-gray-50 p-8")
        section(class="mx-auto welcome w-full lg:max-w-[1200px]")
          p En este sitio encontraras información relacionada al parque ecológico Lu'um Balam, ubicado en el corazón de la Riviera Maya. Los servicios que ofrecemos son diversos, con horarios flexibles, y costos accesibles. Realiza tu reservación desde nuestro sitio o llama a nuestros números para obtener atención personalizada.
          p En Lu'um Balam lo natural es que explores desde las raíces de la región a través de caminatas, paseos en bici, visitar las grutas, snorkeling en cenote y podrás también vivir la experiencia de un camping en medio de la selva bajo un cielo bañado en estrellas y podrás observar el cosmos con nuestros telescopios e invitar a tus amigos a convivir en un evento en la palapa, donde incluimos un asador para preparar los alimentos de tu preferencia.

          div(class="actividades w-full my-20 mx-auto")
            h3(class="m-4") Actividades
            div(class="w-full flex flex-wrap mx-auto justify-around gap-2")
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://images.unsplash.com/photo-1593076436666-9bdf2f5c8ef0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://images.unsplash.com/photo-1615632778185-48e15a6f68bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://images.unsplash.com/photo-1625548894056-6d40e1b4024b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://cdn.pixabay.com/photo/2019/03/18/21/58/potholing-4064307_960_720.jpg", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://images.unsplash.com/photo-1524494860062-9442631ee30e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://cdn.pixabay.com/photo/2019/04/17/22/30/zipline-4135588_960_720.jpg", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
            
        section(class="anunciantes w-full md:3/12 p-8") Aquí irán los anunciantes
          
      include inc/footer