doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Luumbalam Ecopark
    link(rel="stylesheet", href="./css/main.css")
    script(src="./js/scripts.js") 
  body(class="w-full mx-auto bg-green-400" )
    div(class="container bg-secondary mx-auto w-full")
      div(class="top-contacto w-full mx-auto flex p-4 bg-secondary-light align-middle right-0 justify-items-end text-right")
          p Atención a clientes:
            span 999999999 MXN | 8888888888 USA
      header(class="w-full flex p-4 bg-third align-middle") 
        div(class="logo mr-2 text-gray-600 font-bold text-2xl w-2/12") Lu'um Balam
        nav(class="8/12") 
          ul(class="flex gap-2")
            li(class="btn_1")
              a(href="") Home
            li(class="btn_1")
              a(href="") Quienes Somos
            li(class="btn_1")
              a(href="") Servicios
            li(class="btn_1")
              a(href="") Galería
            li(class="btn_1")
              a(href="") Contacto
    

      div(class="bagde flex w-full justify-between mx-auto")
        div(class="hero h-96 bg-jaguar bg-cover")
          .flex-col.justify-center.hero-content(class="lg:flex-row")
            .text-center(class="lg:text-left")
              h1.mb-5.text-5xl.font-bold.
                
                Hello Adventurous
                
              p.mb-5.
                
                Adentrate a un emocionante entorno rebitalizante, entre emocionantes actividades en el corazón de la Riviera Maya. 
                
            .card.flex-shrink-0.w-full.max-w-sm.shadow-2xl.bg-base-100
              h3 Todo incluido 
              div 
                div 
                  h4 Adultos
                  span.old_price 1250
                  span.price 1050 
                div
                  h4 Niños
                  span.old_price 1100
                  span.price 850
              .card-body
                .form-control
                  label.label
                    span.label-text Elige la actividad
                  select
                    option(value="all") Todo incluido
                    option(value="bici-tours") Bici Tours
                    option(value="moto-tours") Moto Tours 
                    option(value="snorkeling") Snorkeling
                    option(value="camping") Camping 
                    option(value="espeleology") Espeleleology 
                    option(value="tirolesas") Tirolesas  
                .form-control
                  label.label
                    span.label-text Adultos (12+)
                  select
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
                    option(value="7") 7
                    option(value="8") 8
                    option(value="9") 9
                    option(value="10") 10
                    option(value="11") 11
                    option(value="12") 12
                    option(value="13") 13
                    option(value="14") 14
                    option(value="15") 15
                    option(value="16") 16
                    option(value="17") 17
                    option(value="18") 18
                    option(value="19") 19
                    option(value="20") 20
                                .form-control
                  label.label
                    span.label-text Niños (5 a 11)
                  select
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
                    option(value="7") 7
                    option(value="8") 8
                    option(value="9") 9
                    option(value="10") 10
                    option(value="11") 11
                    option(value="12") 12
                    option(value="13") 13
                    option(value="14") 14
                    option(value="15") 15
                    option(value="16") 16
                    option(value="17") 17
                    option(value="18") 18
                    option(value="19") 19
                    option(value="20") 20
                .form-control.mt-6
                  input.btn.btn-primary(type="button", value="Enviar")
        
      main(class="w-full justify-between mx-auto bg-gray-50 p-8")
        section(class="welcome w-full md:9/12")
          p En este sitio encontraras información relacionada al parque ecológico Lu'um Balam, ubicado en el corazón de la Riviera Maya. Los servicios que ofrecemos son diversos, con horarios flexibles, y costos accesibles. Realiza tu reservación desde nuestro sitio o llama a nuestros números para obtener atención personalizada.
          p En Lu'um Balam lo natural es que explores desde las raíces de la región a través de caminatas, paseos en bici, visitar las grutas, snorkeling en cenote y podrás también vivir la experiencia de un camping en medio de la selva bajo un cielo bañado en estrellas y podrás observar el cosmos con nuestros telescopios e invitar a tus amigos a convivir en un evento en la palapa, donde incluimos un asador para preparar los alimentos de tu preferencia.

          div(class="actividades w-full my-20 mx-auto")
            h3(class="m-4") Actividades
            div(class="flex flex-wrap mx-auto justify-around gap-4")
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://images.unsplash.com/photo-1593076436666-9bdf2f5c8ef0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://images.unsplash.com/photo-1615632778185-48e15a6f68bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://images.unsplash.com/photo-1625548894056-6d40e1b4024b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://cdn.pixabay.com/photo/2019/03/18/21/58/potholing-4064307_960_720.jpg", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://images.unsplash.com/photo-1524494860062-9442631ee30e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
              div(class="card_1")
                div(class="container flex justify-center")
                  div(class="")
                    div(class="card_1__inner")
                      img(class="rounded-t-lg" src="https://cdn.pixabay.com/photo/2019/04/17/22/30/zipline-4135588_960_720.jpg", alt="")
                      div(class="py-6 px-8 rounded-lg bg-white")
                        h1.text-gray-700.font-bold.text-2xl.mb-3(class="hover:text-gray-900 hover:cursor-pointer") I'm supper dog for you.
                        p.text-gray-700.tracking-wide Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.
                        button(class="btn_2") Conocer
                        //.absolute.top-2.right-2.py-2.px-4.bg-white.rounded-lg
                        //span.text-md $150
            
        section(class="anunciantes w-full md:3/12 p-8") Aquí irán los anunciantes
          
      footer(class="p-8")
        section(class="")
          nav(class="nav-bottom w-full")
            ul(class="flex") 
              li
                a(href="") Home
              li
                a(href="") Blog
              li
                a(href="") Mapa de sitio
              li
                a(href="") Términos y condiciones
              li
                a(href="") Politica de privacidad
              li
                a(href="") Guía de precios
              li
                a(href="") Contacto